/* Cambia el fondo de la ventana */
.root {
/: ;-fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-image: url("Imagenes/LogoProductivityPalace.jpg");
    -fx-opacity: 0.9;
    -fx-background-repeat: stretch;
    -fx-background-size: 603 400;
    -fx-background-position: center;
}

/* Estilo para los botones */
.button {
    -fx-background-color: #c43b32;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-padding: 10px;
}


/* Estilo para los labels */
.label {
    -fx-font-size: 16px;
    -fx-text-fill: #00ff1e;
    
}

.text-field {
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1.5px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}


/* Estilo para BOTONES */
#button {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 162px;
    height: 27px;
    border-radius: 8px;
    border: 1px solid #808080;
    background: #fcc951;
    background-blend-mode: normal;
    font-family: Alata;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
  }

/* Estilo para TEXTFIELD */
#text-field {
    position: absolute;
    left: 0px;
    top: 100px;
    width: 182px;
    height: 40px;
    border: 1px solid #e55156;
    color: #87252b; /*color de texto*/
    font-family: Alata;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
  }



